@media (min-device-width:600px) {
  img[data-src-600px] {
    content: attr(data-src-600px, url);
  }
}

@media (min-device-width:800px) {
  img[data-src-800px] {
    content: attr(data-src-800px,url);
  }
}

@media (min-width: 640px) {
  body {font-size: 1rem;}
}

@media (min-width: 960px) {
  body {font-size: 1.2rem;}
}

@media (min-width: 1100px) {
  body {font-size: 1.5rem;}
}

html {
    font-family: 'Open Sans', sans-serif;
    background-color: #00539F;
}

body {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    font-size: 100%;
}

/* 主布局 */
main {
  display: flex;
}

article, section {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

footer {
  margin-top: 10px;
}



/* 导航栏 */
nav {
  height: 50px;
  flex: 100%;
  display: flex;
  border: 1px dashed;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  /* font-size: 2rem; */
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}



h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
}

img {
    display: block;
    margin: 0 auto;
}

p,
li {
    /* font-size: 16px; */
    line-height: 2;
    letter-spacing: 1px;
}


/* 表单风格 */
form {
  /* 居中表单 */
  margin: 0 auto;
  /* 显示表单的轮廓 */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}



form div + div {
  margin-top: 1em;
}

label {
  /* 确保所有label大小相同并正确对齐 */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* 确保所有文本输入框字体相同
     textarea默认是等宽字体 */
  font: 1em sans-serif;

  /* 使所有文本输入框大小相同 */
  width: 300px;
  box-sizing: border-box;

  /* 调整文本输入框的边框样式 */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* 给激活的元素一点高亮效果 */
  border-color: #000;
}

textarea {
  /* 使多行文本输入框和它们的label正确对齐 */
  vertical-align: top;

  /* 给文本留下足够的空间 */
  height: 5em;
}

.button {
  /* 把按钮放到和文本输入框一样的位置 */
  padding-left: 90px; /* 和label的大小一样 */
}

button {
  /* 这个外边距的大小与label和文本输入框之间的间距差不多 */
  margin-left: .5em;
}

.chart {
  width: 90%;
  height: 800px;
  border: 1px solid black;
}

progress {
  position: relative;
}
progress span {
  position: absolute;
  top: 0;
  right: 5px;
}

/* 表单验证 */

/* 验证失败的元素样式 */
input:invalid{
  border-color: #900;
  background-color: #FDD;
}

input:focus:invalid {
  outline: none;
}

/* 错误消息的样式 */
.error {
  width  : 100%;
  padding: 0;
 
  /* font-size: 80%; */
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}


/* 表格 */
table {
  border-collapse: collapse;
  border: 2px solid;
  letter-spacing: 1px;
  /* font-size: 0.8rem; */
}

td, th {
  border: 1px solid;
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

caption {
  padding: 10px;
}

tbody {
  font-style: italic;
}

tfoot {
  font-weight: bold;
}

/* 风险的颜色 */
.high-risk {
  color: red;
}

.low-risk {
  color: green;
}

.mid-risk {
  color: orange;
}